@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.Models.Workers.WorkerViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Профиль</h1>

<div>
    <hr/>
    <dl class="row"/>
    <dt class="col-sm-2">
        @Html.DisplayName("Id")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Фамилия")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Имя")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Отчество")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patronymic)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Почта")
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <table>
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Проекты")
            </th>
            <th>
                @Html.DisplayName("Задачи")
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                @if (Model.Projects.Count > 0)
                {
                    foreach (var project in Model.Projects)
                    {
                        <dt class="row">
                            @Html.ActionLink(project.ProjectName, "View", "Project", new { project.Id })
                        </dt>
                    }
                }
            </th>
            <th>
                @if (Model.Jobs.Count > 0)
                {
                    foreach (var job in Model.Jobs)
                    {
                        <dt>
                            @Html.ActionLink(job.JobName, "View", "Job", new { job.Id })
                        </dt>
                    }
                }
            </th>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <a class="btn-sm btn-primary" asp-controller="Worker" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn-sm btn-warning" asp-controller="Worker" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
    <a class="btn-sm btn-primary" asp-controller="Worker" asp-action="Index">Вернуться</a>
</div>