@using Application.Models
@model IEnumerable<Application.Models.Jobs.JobViewModel>
@{
    ViewData["Title"] = "GetProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Задачи</h1>
<table>
    <thead>
    <tr>
        <th>Фильтр</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>
            @using (Html.BeginForm())
            {
                <div class="form">
                    <select id="filter">
                        <option>Фильтр</option>
                        <option value="1">Дата</option>
                        <option value="2">Приоритет</option>
                    </select>
                    <div class="block"></div>
                    <input name="start" id="dateId" class="block" type="date" style="display: none"/>
                    <input name="priority" id="numberId" class="block" type="number" min="0" style="display: none"></input>
                    <input type="submit" value="Выполнить"></input>
                </div>
            }
        </th>
    </tr>
    </tbody>
</table>

<div class="form-reset">
    <input type="submit" value="Сброс" formmethod="get"/>
</div>

<table class="table">
    <thead>
    <tr>
        <th >
            <a asp-action="Create">Добавить</a>
        </th>
        <th>@Html.ActionLink("Задача", "Index", new { sort = SortProjects.stringType }, "post")</th>
        <th>@Html.DisplayName("Автор")</th>
        <th>@Html.DisplayName("Исполнитель")</th>
        <th>@Html.DisplayName("Статус")</th>
        <th>@Html.DisplayName("Комментарий")</th>
        <th>@Html.DisplayName("Приоритет")</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="btn-sm btn-primary" asp-controller="Job" asp-action="View" asp-route-id="@item.Id">Посмотреть</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @if (item.Author != null)
                {
                    @Html.ActionLink($"{item.Author.FirstName} {item.Author.LastName}", "View", "Worker", new { id = item.Author.Id })
                }
                else
                {
                    @Html.DisplayName("---")
                }
            </td>
            <td>
                @if (item.Performer != null)
                {
                    @Html.ActionLink($"{item.Performer.FirstName} {item.Performer.LastName}", "View", "Worker", new { id = item.Performer.Id })
                }
                else
                {
                    @Html.DisplayName("---")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a class="btn-sm btn-primary" asp-controller="Home" asp-action="Index">Вернуться</a>
</div>