@model Application.Models.Jobs.JobViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Задача</h4>
    <hr/>
    <dl class="row"/>
    <dt>@Html.DisplayName("Id")</dt>
    <dd>@Html.DisplayFor(x => x.Id)</dd>
    
    <dt>@Html.DisplayName("Задача")</dt>
    <dd>@Html.DisplayFor(x => x.JobName)</dd>

    <dt>@Html.DisplayName("Автор")</dt>
    <dd>@Html.DisplayFor(x => x.Author)</dd>
    
    <dt class="col-sm-2">@Html.DisplayName("Исполнитель")</dt>
    <dd>@Html.DisplayFor(x=>x.Performer)</dd>
    
    <dt>@Html.DisplayName("Статус")</dt>
    <dd>@Html.DisplayFor(x=>x.Status)</dd>
    
    <dt>@Html.DisplayName("Описание")</dt>
    <dd>@Html.DisplayFor(x => x.Description)</dd>
    
    <dt>@Html.DisplayName("Приоритет")</dt>
    <dd>@Html.DisplayFor(x => x.Priority)</dd>
    
</div>
<div>
    <a class="btn-sm btn-primary" asp-controller="Job" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn-sm btn-warning" asp-controller="Job" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
    <a class="btn-sm btn-primary" asp-controller="Job" asp-action="Index">Вернуться</a>
</div>