@model Application.Models.Projects.ProjectViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Проект</h4>
    <hr/>
    <dl>
        <dt>
            @Html.DisplayName("Id")
        </dt>
        <dd>
            @Html.DisplayFor(x => x.Id)
        </dd>
        <dt>
            @Html.DisplayName("Название проекта")
        </dt>
        <dd>
            @Html.DisplayFor(x => x.ProjectName)
        </dd>
        <dt>
            @Html.DisplayName("Компания-Заказчик")
        </dt>
        <dd>
            @Html.DisplayFor(x => x.CompanyCustomer)
        </dd>
        <dt>
            @Html.DisplayName("Компания-Исполнитель")
        </dt>
        <dd>
            @Html.DisplayFor(x => x.CompanyExecutor)
        </dd>
        <dt>
            @Html.DisplayName("Руководитель")
        </dt>
        <dd>
            @if (Model.Manager != null)
            {
                @Html.ActionLink(Model.Manager.FullName, "View", "Worker", new { id = Model.Manager.Id })
            }
            else
            {
                @Html.DisplayName("------")
            }
        </dd>
        <dt>
            @Html.DisplayName("Работники")
        </dt>
        
            @if (Model.Workers.Count >= 0)
            {
                foreach (var item in Model.Workers)
                {
                    <dd>  @Html.ActionLink(item.FullName, "View", "Worker", new { item.Id })  </dd>
                }
            }

        <dt>
            @Html.DisplayName("Задачи")
        </dt>
       
            @if (Model.Jobs.Count >= 0)
            {
                foreach (var item in Model.Jobs)
                {
                    <dd>  @Html.ActionLink($"{item.JobName}-{item.Status}", "View", "Job", new { item.Id }) </dd>
                }
            }

        <dt>
            @Html.DisplayName("Дата начала")
        </dt>
        <dd>
            @Html.DisplayFor(x => x.StartTime.Date)
        </dd>
        <dt>
            @Html.DisplayName("Дата окончания")
        </dt>
        <dd>
            @Html.DisplayFor(x => x.EndTime.Date)
        </dd>
        <dt>
            @Html.DisplayName("Приоритет")
        </dt>
        <dd>
            @Html.DisplayFor(x => x.Priority)
        </dd>
    </dl>
    
</div>
<div>
    <a class="btn-sm btn-primary" asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn-sm btn-warning" asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
    <a class="btn-sm btn-primary" asp-controller="Project" asp-action="Index">Вернуться</a>
</div>